h1{
    color: rgb(226, 223, 43);
    background-color: darkred;
}
small{
    color: rgb(51, 255, 0);
    background:rebeccapurple;
    display: block;
    font-size: 15px;
}
h2{
    background: darkorange;
     display: inline;
}
strong{
    display: block;
    color: red;
    background-color: green;
    font-size: 20px;
    }